

body{
  width: 80%;
  margin: 0;
  background: #81CAFA;
  margin: 100px;
  }
  
  h2, h3{
  color: white;
  text-align: center;
  }
  h2{
    font-size: 3em;
  }
  a img{
    width: 40%;
    padding-left: 30%;
    text-align: center;
    display: block;
  }
  button{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-left:  46%;
    margin-top: 3%;
    
  }