body {
  height: 100%;
  margin: 0;
  background: #81CAFA;
  }
  
  h2, h3{
  color: white;
  text-align: center;
  }
  a img{
    width: 40%;
    padding-left: 30%;
    text-align: center;
    display: block;
  }
  button{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-left:  46%;
    margin-top: 3%;
    
  }